*.opensdf
*.sdf
*.ipch
*.suo
*.exp
*.ilk
*.pdb
*.iobj
*.ipdb
*.aps
*.user
*.tlog
*.obj
*.log
*.res
*.idb
*.pch
*.lastbuildstate
*.vdproj
*.db
*.opendb
*debug*.txt
*_old.*
*_new.*
UpgradeLog.htm

# Directories
ipch
Debug
Release
data
x64external
bin
dll
lib

# Executables
*.exe
*.dll
*.lib
