*.opensdf
*.sdf
*.ipch
*.suo
*.exp
*.ilk
*.pdb
*.iobj
*.ipdb
*.aps
*.user
*.tlog
*.obj
*.log
*.res
*.idb
*.pch
*.lastbuildstate
*.vdproj
*.db
*.opendb
*debug*.txt
*_old.*
*_new.*
UpgradeLog.htm
*.iobj
*.ipdb

# Directories
/bin
!/bin/proj
/ipch
/x64
/external/*
!/external/proj

# Executables
*.exe
*.dll
!proj_5_2.dll
*.lib
!proj_5_2.lib
